* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF5E4;
    color: #850E35;
    /* color: red; */
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.initial-heading {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
}

.initial-heading>p {
    margin-bottom: .5rem;
}

.image {
    width: 90%;
    outline: 5px solid #850E35;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.important-dates {
    /* background-color: red; */
    margin: 1rem 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    /* border: 2px solid rgb(246, 153, 153); */
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    overflow: hidden;
}

.div-heading {
    width: 100%;
    text-align: center;
    padding: 3px 0;
    background-color: #850E35;
    color: #FFF5E4;

}


.event-dates {
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
    background-color: #FFC4C4;
    border-bottom: 2px solid white;
    /* margin: 1px 12px; */
    padding: 1px 12px;
}

span {
    background-color: #FFC4C4;
}

.names {
    font-family: 'WindSong', 'cursive';
    /* align-items: center; */
    font-weight: 500;
    margin: 1rem 0;
    font-size: 2.5rem;
    /* justify-content: center; */
    text-align: center;
}

.video {
    font-family: 'Quicksand', sans-serif;
    margin: 1rem;
    background-color: #850E35;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;

}

.video-image {
    width: 100%;
    aspect-ratio: 16/9;
}

.video-heading {
    background-color: #850E35;
    color: #FFF5E4;
    padding: 6px;
    font-weight: 500;
    font-size: 1.35rem;
    text-align: center;
}

.information {
    width: 90%;
    font-size: 1.6rem;
    margin: 1rem 0;
    text-align: center;
    font-family: 'Cookie', cursive;
    text-transform: capitalize;
    /* font-family: 'WindSong', cursive; */
    /* font-family: 'Marck Script', cursive; */
    /* font-family: 'Sacramento', cursive; */
}

.important-info {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
}

.quote {
    width: 90%;
    background-color: #850E35;
    color: #FFF5E4;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0 6px;
    margin: 2rem;
    align-items: center;
}

.quote-image {
    position: relative;
    max-width: 70px;
    margin-top: -35px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.quote-msg {
    background-color: #850E35;
    color: #FFF5E4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote-symbol {
    background-color: #850E35;
    color: #FFF5E4;
    font-size: 2rem;
}

/* .quote {
    width: 90%;
    background-color: beige;
    text-align: center;
    display: flex;
    border-radius: 20px;
    padding: 6px;
    margin: 1rem;
    align-items: center;
}

.quote-image {
    position: relative;
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
} */

/*
FFF5E4
FFC4C4
EE6983
850E35
*/