:root {
    --light: #eedec5;
    --subLight: #e5e5e5;
    --dark: #836539;
    --text: #473d2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--subLight); */
    /* color: var(--text); */
    /* color: red; */
}

body {
    /* background-image: url("./WhatsApp\ Image\ 2022-09-28\ at\ 5.25.04\ PM.jpeg"); */
    background-image: url("./v708-aum-24-b-diwali.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.initial-heading {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: var(--text);
    font-weight: 600;
    margin-top: 2rem;
}

.initial-heading>p {
    margin-bottom: .5rem;
}

.image {
    width: 90%;
    outline: 5px solid var(--dark);
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.important-dates {
    /* background-color: red; */
    margin: 1rem 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    /* border: 2px solid rgb(246, 153, 153); */
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    position: relative;
    color: var(--text);
    overflow: hidden;
}

.div-heading {
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 6px 0;
    background-color: var(--dark);
    color: var(--subLight);

}


.event-dates {
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
    background-color: var(--light);
    /* border-bottom: 2px solid var(--subLight); */
    margin-top: 2px;
    /* margin: 1px 12px; */
    padding: 1px 18px;
}

.event-dates-item {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    color: var(--text);
}

.event-dates-item-subdata {
    color: var(--text);
    font-size: 0.75rem;
}

span {
    background-color: var(--light);
}

.names {
    font-family: 'WindSong', 'cursive';
    /* align-items: center; */
    font-weight: 500;
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--text);
    /* justify-content: center; */
    text-align: center;
}

.video {
    font-family: 'Quicksand', sans-serif;
    margin: 1rem;
    background-color: var(--dark);
    width: 90%;
    border-radius: 10px;
    overflow: hidden;

}

.video-image {
    width: 100%;
    aspect-ratio: 16/9;
}

.video-heading {
    background-color: var(--dark);
    color: var(--subLight);
    padding: 6px;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.information {
    width: 90%;
    font-size: 1.6rem;
    margin: 2rem 0;
    text-align: center;
    font-family: 'Cookie', cursive;
    text-transform: capitalize;
    color: var(--text);

    /* font-family: 'WindSong', cursive; */
    /* font-family: 'Marck Script', cursive; */
    /* font-family: 'Sacramento', cursive; */
}

.important-info {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
}

.quote {
    width: 90%;
    background-color: var(--dark);
    color: var(--subLight);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0 6px;
    margin: 2rem;
    align-items: center;
    box-shadow: 2px 10px 46px -10px rgba(0, 0, 0, 0.93);
}

.quote-image {
    position: relative;
    max-width: 120px;
    margin-top: -66px;
    height: 101px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 10px 46px -10px rgba(0, 0, 0, 0.93);
}

.quote-msg {
    background-color: var(--dark);
    color: var(--subLight);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote-symbol {
    background-color: var(--dark);
    color: var(--subLight);
    font-size: 2rem;
}

.contact {
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    border: 2px solid var(--dark);
    border-radius: 20px;
    padding: 8px 24px;
}

.contact-pin {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contact-heading {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 600;
    color: var(--text);

}

a {
    text-decoration: none;
}

.contact-item {
    font-size: 1rem;
    color: var(--light);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.contact-us {
    background-color: rgba(1, 8, 54, 0.5);
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: var(--subLight);
    font-weight: 400;
    width: 100%;
    /* border-radius: 20px; */
    padding: 1rem;
}

.contact-us-name {
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 500;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

@media only screen and (min-width: 600px) {
    body {
        width: 600px;
        margin: auto;
    }
}

/* .contact-item */
/* .quote {
    width: 90%;
    background-color: beige;
    text-align: center;
    display: flex;
    border-radius: 20px;
    padding: 6px;
    margin: 1rem;
    align-items: center;
}

.quote-image {
    position: relative;
    max-width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
} */

/*
FFF5E4
FFC4C4
EE6983
850E35
*/